* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: auto;
    height: 100%;
}

html {
    background-color: rgba(2, 34, 161, 0.497);
}

body {
    overflow-x: hidden; /* Prevent horizontal overflow */
}

header {
    nav.navbar {
        .container-fluid {
            .navbar-brand:hover {
                transition-duration: 1s;
                color: rgb(201, 208, 206);
            }
        }
    }
}

main {
    .carousel {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%; /* Ensure carousel is full width */
        
        .carousel-inner {
            .carousel-item {
                img {
                    width: 100%;
                    height: auto; /* Maintain aspect ratio */
                    object-fit: cover;
                }
            }
        }
    }
}
.card {
    width: 90%; /* Adjust the card width here if needed */
    margin: auto; /* Center the cards */
}

.card-body {
    padding: 1rem; /* Adjust padding for card body */
}
.cart{
    margin-left: 4px;
    padding-left: 5px;
    color: white;
}