{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<style>
    .prod-container {
        margin: auto;
        width: 80%; /* Adjust width for better mobile view */
        max-width: 1200px; /* Limit max width on larger screens */
        display: flex;
        padding: 10px;
        flex-direction: column; /* Stack items on small screens */
        align-items: center;
    }
    .prod-img img {
        height: auto; /* Make image height auto for responsive scaling */
        width: 100%; /* Ensure image takes full width on smaller screens */
        max-height: 500px; /* Limit max height */
        border-radius: 5px;
    }
    .add-to-cart {
        padding: 10px 20px;
        background-color: #28a745; /* Green button */
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .add-to-cart:hover {
        background-color: #218838; /* Darker green on hover */
    }
</style>
<div class="prod-container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 prod-img">   
            <img src="{{ product.pic.url }}" alt="{{ product.name }} image">
        </div>
        <div class="col-12 col-md-6 prod-description"> 
            <div>
                <h2>{{ product.name }}</h2>
                <h2>Rs. {{ product.price }}</h2>
                <p>{{ product.description }}</p>
            </div>
            
            <a class="btn btn-warning" href="{% url 'editProd' product.pk %}">Edit Product</a>
            <a class="btn btn-danger" href="{% url 'del_product' product.pk %}">Delete Product</a>
        </div>
    </div>
</div>
{% endblock %}
